---
apiVersion: v1
generation: 1
kind: ImageStreamTag
metadata:
  name: "{{ base_image_name }}:{{ base_image_tag }}"
tag:
  from:
    kind: DockerImage
    name: {{ tag_from_name }}
  importPolicy:
    scheduled: true
  name: latest
